<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Data Filters</title>
    </head>

    <body>
        <h2>working with jinja2 filters</h2>

        {% for movie, duration in  movies|dictsort (false, 'value') %}
            <ul>
                <li>{{ movie|title }} : {{ duration|round(1) }}</li>
            </ul>
        {% endfor %}

        <hr>

        <ol type="1">
            <li> default value      : {{ name|default('value not defined', true) }}</li> <br>
            <li> capital case       : {{ film|capitalize }}</li> <br>
            <li> length             : {{ movies|length }} items in the dictionary </li> <br>
            <li> first item         : {{ movies|first }}</li> <br>
            <li> make a list        : {{ film|list }}</li> <br>
            <li> replace data       : {{ film|replace('carol', 'cookie')|upper }}</li>
        </ol>
        <hr>
        {{ data }}


        <h2>more filters</h2>
        <p>
           filters are like little utilities that help us modify the variables or their state.
           for a complete list of built-in jinja2 filters, check-out the following link:
        </p>

           <a href="http://jinja.pocoo.org/docs/2.9/templates/#builtin-filters" target="_blank">
            http://jinja.pocoo.org/docs/2.9/templates/#builtin-filters
           </a>

    </body>
</html>