<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>movie durations</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    {# END OF HEADER #}

    <body>
        <h2>this collection belongs to {{ name }}</h2>
        <h3>path to css file: {{ url_for('static', filename='css/styles.css') }}</h3>
        <table>
            <tr>
                <th>movie</th>
                <th>length</th>
                <th>comments</th>
            </tr>
            {% for movie, length in movies.items() %}
                <tr>
                    <td>{{ movie }}</td>
                    <td>{{ length }}</td>
                    {% if length <= 2 %}
                        <td>short</td>
                    {% elif length >= 2 and length <=3 %}
                        <td>medium</td>
                    {% else %}
                        <td style="color: red">long</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </body>
</html>